/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/06/2017, 15:38:17
    Author     : DAVID
*/

.tabla{
    width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}
.tablax4{
    float: left;
    width: 25%;
    margin-top: 20px;
   }
.tablaxd{
    float: left;
    width: 25%;
    margin-top: 10px;
   }
.caja-precio{
       border: 1px solid  #333;
       background: #222;
   }
  .caja-precio h4{
       color: #fff;   
   }
  .caja-precio:hover{
       border: 2px solid  #888;  
   }
 .icono-precio{
       color: #85c34a;
       padding-top: 20px;
       font-size: 3em;
       padding-bottom: 10px;
       
  }
  .precio1{
      color: #85c34a; 
      font-size: 50px;
      font-weight: bold;
  }
  .dolar{
      color: #85c34a; 
      font-size: 20px;
      vertical-align: super;
  }
  .mes{
      color: #999; 
      font-size: 10px;
      vertical-align: bottom;
  }
  .listaprecios{
      list-style: none;
      padding: 20px 0;
      color: #81867D;
      padding-bottom: 50px;
  }
  .lista-espacios{
      padding: 0.25em; /*con 0.25espacios con respecto a la m*/
      font-size: 15px;
  }
  .boton-contratar{
      margin-bottom: 25px;
  }
  .contratar-a{
      background: #85c34a;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 70px;
      letter-spacing: 1px;
      width: 90%;
  }
  .contratar-a:hover{
      background: #777;
  }
  .destacado{
      background-color: #fff;
      box-shadow: 0 0 8px rgba(0,0,0,0.9);/*coloca las sombras*/
      z-index: 500;
  }
  .destacado h4{
      color: #30353c;
      font-size: 30px;
  }
  .destacado .icono-precio{
      font-size: 4em;
  }
  .destacado .contratar-a{
      background: #30353c;
  }
  .destacado .contratar-a:hover{
      background: #777;
  }
  .fa-star-o{
      color:black;
  }
   